streamlit
pandas
numpy
scikit-learn
plotly
shap
xgboost
prophet
seaborn
matplotlib
SARIMAX
altair
statsmodels==0.13.5
statsmodels
numpy==1.24.4
scipy==1.10.1
pandas==2.0.3
matplotlib==3.7.2
altair==5.0.1
statsmodels==0.13.5
openpyxl
